name: "Bump Action"

on:
  workflow_call:
    outputs:
        new_tag:
          description: "Le nouveau tag généré"
          value: ${{ jobs.bump.outputs.tag_output }}
        changelog:
          description: "Le changelog généré"
          value: ${{ jobs.bump.outputs.changelog_output }}

permissions:
  contents: write

jobs:
  bump:
    runs-on: ubuntu-latest
    outputs:
      tag_output: ${{ steps.tag.outputs.new_tag }}
      changelog_output: ${{ steps.tag.outputs.changelog }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Bump tag version (dry run)
        id: tag
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          release_branches: main
          default_bump: patch
          dry_run: true

      - name: Create temp branch
        run: |
          git checkout -b tmp-release-${{ steps.tag.outputs.new_tag }}

      - name: Update action.yml docker version
        uses: ValoriaTechnologia/FieldChartUpdater@v0.0.2
        with:
          file: ./action.yml
          edits: '[{"path": "runs.image", "value": "ghcr.io/valoriatechnologia/github-tag-action:${{ steps.tag.outputs.new_tag }}"}]'

      - name: Commit version bump
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add action.yml
          git commit -m "chore: bump version in action.yml to ${{ steps.tag.outputs.new_tag }}"
          git push --set-upstream origin tmp-release-${{ steps.tag.outputs.new_tag }}

      - name: Bump tag version
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          release_branches: tmp-release-${{ steps.tag.outputs.new_tag }}
          default_bump: patch
      
      - name: Delete temp branch
        run: |
          git checkout main
          git branch -D tmp-release-${{ steps.tag.outputs.new_tag }}
          git push origin --delete tmp-release-${{ steps.tag.outputs.new_tag }} || true

      
