name: "Main Pipeline"
on:
  push:
    branches:
      - main

permissions:
  contents: write
  packages: write

jobs:
  integration-job:
    if: github.actor != 'github-actions[bot]'
    uses: ./.github/workflows/integration-tests.yml
  unit-tests-job:
    if: github.actor != 'github-actions[bot]'
    uses: ./.github/workflows/unit-tests.yml
  bump-job:
    needs:
      - integration-job
      - unit-tests-job
    uses: ./.github/workflows/bump.yml
  build-push-job:
    if: needs.bump-job.outputs.new_tag != ''
    needs:
      - bump-job
    uses: ./.github/workflows/build-push.yml
    with:
      tag: ${{ needs.bump-job.outputs.new_tag }}
  release-job:
    if: needs.build-push-job.outputs.tag != ''
    needs:
      - build-push-job
      - bump-job
    uses: ./.github/workflows/release.yml
    with:
      tag_to_deploy: ${{ needs.bump-job.outputs.new_tag }}
      changelog: ${{ needs.bump-job.outputs.changelog }}