name: "Main Pipeline"
on:
  push:
    branches:
      - main

jobs:
  integration-job:
    uses: ./.github/workflows/integration-tests.yml
  unit-tests-job:
    uses: ./.github/workflows/unit-tests.yml